{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {% if token_fail %}
        Bad Token
    {% else %}
        +Change Password+
    {% endif %}
{% endblock %}

{% block main %}
<div class="card border-primary m-auto mb-3"
    style="max-width: 30rem ;">
        <div class="card-body">            
            {% if token_fail %}
            <div class="card-header">
                <p>The token is bad</p>
            </div>
            <div class="card-text">
                The token was either used or time has expired
                New link <a href="{% url 'account_reset_password' %}">New pssword</a>
            </div>
            {% else %}
                <form  method="post" class="m-auto">
                    {% csrf_token %}
                    {{form|crispy}}
                    <button class="btn btn-success form-control">Change Password</button>
                </form>
            {% endif %}
        </div>
</div>
{% endblock %}