{% extends '_base.html' %}

{% block title %}Reset key Done{% endblock %}

{% block main %}
    <div class="card border-primary m-auto mb-3"
        style="max-width: 30rem;">
        <div class="card-body">

            <div class="card-header text-primary text-center">
                Password changed
            </div>
            <div class="card-text">
                <p>
                    Your password has been changed.
                    <a href="{% url 'account_login' %}">Log in</a>
                </p>   
            </div>
        </div>
    </div>
{% endblock %}