<p>

    Someone has requested a password reset for your {{ current_site.name }} account.
</p>
<p>

    If you do not want to reset your password, you can safely ignore this email.
</p>
<p>

    Click the link below to reset your password.
</p>
<a href="{{ password_reset_url }}">Link</a>

<p>

    Thank you for using {{ current_site.name }}
</p>


<P>

    Alguien pidio cambiar tu cuenta en {{ current_site.name }}.
</P>
<p>

    Si tu no pediste cambiar tu contraseña, ignora este mensaje.
</p>
<p>

    Haz click en el siguiente vinculo:
</p>
<a href="{{ password_reset_url }}">Vinculo</a>

<p>
    Gracias por utilizar {{ current_site.name }}.
</p>
