{% extends '_base.html' %}
{% block title %}Jokes List{% endblock %}

{% block main %}
    <div class="card border-primary m-auto mb-3"
        style="max-width: 40rem;">
        {% if user.is_authenticated %}
        <a class="btn btn-success btn-ms float-rig" href="{% url 'jokes:create' %}">+Joke</a>
        {% endif %}
        {% for joke in joke_list %}
        <div class="card-header">
            {{joke.question}}
        </div>
        <div class="card-body">
            <div class="card-text">
                <a href="{{ joke.get_absolute_url }}">{{ joke.answer }}</a>
                {% if request.user == joke.user%}
                <a href="{% url 'jokes:update' joke.slug %}">
                    <i class="fas fa-pencil-alt"></i></a>
                    
                <a href="{% url 'jokes:delete' joke.slug %}">
                    <i class="fas fa-trash-alt"></i></a>
                {% else %}
                <small>by {{joke.user.username}}</small>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}