{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block title %}Joke Detail{% endblock %}

{% block main %}
    <div class="card border-primary m-auto mb-3"
        style="max-width: 30rem ;">
        <div class="card-header text-primary text-center">{{ joke.question }}</div>
        <div class="card-body">
            <div class="card-text">
                {{joke.answer}}
            </div>
            <div class="card-footer">
                <div class="border-bottom border-faded pb-2">
                    <strong>Category:</strong>{{joke.category.Category}} <br>
                    {% for tag in joke.tags.all %}
                        <span class="badge badge-pill badge-secondary">{{ tag.tag }}</span>
                    {% endfor %}
                </div>
            {% if joke.user == user %}
                <div class="border-bottom border-faded m-2 pb-2">
                    <a href="{% url 'jokes:update' joke.slug %}" 
                        class="btn btn-info btn-sm mr-2">Update</a>
                    <a href="{% url 'jokes:delete' joke.slug %}" 
                        class="btn btn-danger btn-sm mr-2">Delete</a>
                </div>
            {% endif %}
            <small class="text-muted">
                created on: {{joke.creted}} by {{joke.user}} <br>
                updated on: {{joke.updated}}
            </small>
        </div>
        </div>
    </div>
{% endblock %}