{% extends '_base.html' %}
{% block title %}Jokes List{% endblock %}

{% block main %}
    <div class="card border-primary m-auto mb-3"
        style="max-width: 40rem;">
        {% if user.is_authenticated %}
        <a class="btn btn-success btn-ms float-rig" href="{% url 'jokes:create' %}">+Joke</a>
        {% endif %}
        {% for joke in joke_list %}
        <div class="card-header">
            {{joke.question}}
        </div>
        <div class="card-body">
            <div class="card-text">
                <a href="{{ joke.get_absolute_url }}">{{ joke.answer }}</a>
                {% if request.user == joke.user%}
                <a href="{% url 'jokes:update' joke.slug %}">
                    <i class="fas fa-pencil-alt"></i></a>
                    
                <a href="{% url 'jokes:delete' joke.slug %}">
                    <i class="fas fa-trash-alt"></i></a>
                {% else %}
                <small>by {{joke.user.username}}</small>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

    <nav aria-label="pagination">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a href="?page=1" class="page-link">&laquo; 1. . .</a>
                </li>
                {% if page_obj.previous_page_number != 1 %}
                    <li class="page-item">
                        <a href="?page={{ page_obj.previous_page_number }}" class="page-link">
                            {{ page_obj.previous_page_number }}
                        </a>
                    </li>
                {% endif%}
            {% endif %}
            <li class="page-item active">
                <span class="page-link">
                    {{ page_obj.number }}
                </span>
            </li>
            {% if page_obj.has_next %}
                {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
                    <li class="page-item">
                        <a href="?page={{ page_obj.next_page_number }}" class="page-link">
                            {{ page_obj.next_page_number }}
                        </a>
                    </li>
                {% endif %}
                <li class="page-item">
                    <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">
                        . . .{{ page_obj.paginator.num_pages }}&raquo;
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}